<h1>DIAMOND SURFBOARDS</h1>
<div class="row">
<div class="col-md-12" id="spacer"></div><!-- end md 4 -->
</div><!-- end row -->
<br />
<div class="row">
<div class="col-md-6">
Justin North has been shaping boards for years. His shapes can be seen in the water around the globe. 
</div><!-- end md 4 -->
<div class="col-md-6"><img src="https://s3.amazonaws.com/diamondsurfboards/images/justinhands.jpg" class="img-responsive"></div><!-- end md 4 -->
</div><!-- end row -->