<h1>CONTACT DIAMOND SURFBOARDS</h1>
<div class="row">
<div class="col-md-12" id="spacer"></div><!-- end md 4 -->
</div><!-- end row -->

<br /><br />

<div class="row">
	<div class="col-md-1"></div>
<div class="col-md-4">
<h4>Diamond Surfboards</h4>
<h4>Oceanside, California</h4>
<h4><i class="fa fa-phone fa-md"></i>&nbsp; 858.699.7771</h4>
<p>
	<!-- <%= link_to "https://www.facebook.com/people/Diamond-Surfboards/100002396383191", target: "blank" do %><i class="fa fa-facebook-official fa-2x"></i><% end %> &nbsp; &nbsp;
	 <i class="fa fa-instagram fa-2x"></i> &nbsp; &nbsp; <i class="fa fa-twitter-square fa-2x"></i> --></p>

</div><!-- end md 4 -->
<div class="col-md-6"><%= render 'form' %></div><!-- end md 4 -->
	<div class="col-md-1"></div>
</div><!-- end row -->

<br /><br />
