<h1>CONTACT DIAMOND SURFBOARDS</h1>
<div class="row">
<div class="col-md-12" id="spacer"></div><!-- end md 4 -->
</div><!-- end row -->

<br /><br />

<div class="row">
	<div class="col-md-1"></div>
<div class="col-md-4">
<h4>Diamond Surfboards</h4>
<p>Oceanside, CA</p>
<p><i class="fa fa-phone fa-md"></i>&nbsp; xxx.xxx.xxxx</p>
<p><i class="fa fa-facebook-official fa-2x"></i> &nbsp; &nbsp;<i class="fa fa-instagram fa-2x"></i> &nbsp; &nbsp; <i class="fa fa-twitter-square fa-2x"></i> </p>

</div><!-- end md 4 -->
<div class="col-md-6"><%= render 'form' %></div><!-- end md 4 -->
	<div class="col-md-1"></div>
</div><!-- end row -->

