<!DOCTYPE html>
<html>
    <head>
      <title>Diamond Surfboards</title>
    </head>
    <body>

      <%= yield %>
      
      <p>Diamond Surfboards</p>
      <p>Oceanside, CA </p>
    </body>
</html>