<!DOCTYPE html>
<html>
    <head>
      <title>Diamond Surfboards</title>
    </head>
    <body>
<p>You have received the following email from:</p>
      <%= yield %><br />

  
      
      <p>Diamond Surfboards</p>
      <p>Oceanside, CA </p>
    </body>
</html>

